.container-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    width: 275px;
    padding: 0px;
    margin-bottom: 20px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.container-card-title-master{
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 15px;
    transition: all linear .3s;

    width: 200px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 10px 5px;
    line-height: 15px;
}

.container-card-title{
    font-family: Ubuntu;
    font-weight: light;
    font-size: 15px;
    transition: all linear .3s;

    width: 200px;
    text-align: right;
}

.container-card-row{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    margin: 0px;
    line-height: 10px;
    padding: 0px 30px;
}

.container-card-content{
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 15px;
    transition: all linear .3s;

    width: 200px;
    text-align: left;
}

.green-card{
    background-color: #bdecb6;
}

.red-card{
    background-color: #ff6961;
}