.container-gastos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
}

.mes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    background: #5b425c;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.month-title{
    font-size: 32px;

    color: #F8EEE7;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.03em;
}
.container-acomp-load{
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.spinneracomp{
    color: white;
}

.total-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.total-month-style{
    color: #F8EEE7;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.total-month-style-content{

    color: #F8EEE7;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.noDataRegistered{
    color: #F8EEE7;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    font-size: 32px;
    width: 280px;
    display: flex;
    align-items: center;
    min-height: 50vh;
    text-align: center;
}

.container-totalglobal{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #F8EEE7;
    margin-bottom: 20px;
    line-height: 15px;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.total-global{
    line-height: 0px;
    margin: 0px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.green-text{
    color: #5fc74f;
    font-weight: bold;
}

.red-text{
    color: #ff6961;
}

.iconTotalMonth{
    margin-left: 10px;
    
}