/* Add a black background color to the top navigation */
.container-topnav{
    display: flex;
    justify-content: center;
    height: 10vh;
}

.logo-navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 245px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 0px;
    letter-spacing: -1px;
    color: white;
    padding: 7px 16px;
    background-color: #49274A;
    border-radius: 4px;
    text-transform: uppercase;
    transition: all linear .2s;
    cursor: pointer;
}

.logo-navbar-container:hover {
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}


.logo-nav-content{
    line-height: 0px;
    margin: 0px;
}

.logo-icon-nav{
    font-size: 16px;
    line-height: 0px;
}

.topnav {
    overflow: hidden;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
  }
  
  /* Style the links inside the navigation bar */
.topnav-item {
    float: left;
    display: block;
    
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.03em;

    color: #49274A;
    margin-left: 50px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all linear .3s;
}
  
.topnav-item:hover {
    text-decoration: none;
    color: #94618E;
    border-bottom: 2px solid #94618E;
}

.active-nav{
    text-decoration: none;
    color: #94618E;
    border-bottom: 2px solid #94618E;
}

.my-brand{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.5px;
    
    color: white;
    
    padding: 7px 16px;

    background-color: #49274A;
    border-radius: 4px;
    text-transform: uppercase;
    

    transition: all linear .2s;
}

.my-brand:hover{
    
    text-decoration: none;
    color: white;

    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.topnav-content{
    display: flex;
}


@media only screen and (max-width: 1200px){
    .topnav-item {
        margin-left: 0px;
    
    }
    .my-brand{
        margin-left: 15px;
    }

    .topnav-content{
        margin-right: 10px;
    }


    .logo-navbar-container{
        width: 180px;
        font-size: 16px;
        letter-spacing: -1px;
        padding: 7px 16px;
        margin-left: 15px;
        
    }

    .logo-icon-nav{
        font-size: 12px;
        line-height: 0px;
    }

}